<%= render :partial => 'messages/form' %>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<% end %>
<% if authenticated? %>
  <p><%= link_to "Logout", users_path, :method => :delete %></p>
<% end -%>
