<section class='dashboard'>
  <h2>Hello <%= current_user.profile.first_name %>!</h2>
  <% if authenticated? %>
    <p><%= link_to "Logout", users_path, :method => :delete %></p>
  <% end -%>
</nav>

<script>
$(function () {
  $('#app_request').click(function () {
    FB.ui({
      method: 'apprequests',
      message: 'You should learn more about this awesome game.',
      data: 'tracking information for the user'
    });
  });
});
</script>
